@font-face {
    font-family: Segoe UI;
    src: url(/fonts/segoeui.ttf);
}

::placeholder {
    color: gray;
    font-size: 20px;
}

body {
    background-color: dodgerblue;
    font-family: Segoe UI;
    color: white;
    cursor: default;
}

.face {
    font-size: 175px;
    color: white;
    font-weight: 900;
    position: absolute;
    top: -100px;
    left: 100px;
    cursor: default;
}

.message {
    font-size: 30px;
    font-family: Segoe UI;
    position: absolute;
    line-height: 45px;
    top: 250px;
    left: 100px;
    cursor: default;
}

::selection {
    background: transparent;
}

a {
    color: white;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
    transition: 0.2s;
}

.auth {
    cursor: default;
    transition: 0.2s;
    margin-top: 400px;
    margin-left: 90px;
}

.auth input {
    border: none;
    border-radius: none;
    height: 30px;
    width: 300px;
    font-size: 20px;
    padding: 5px;
    font-family: Segoe UI;
    margin-right: 0;
}

.auth input::selection {
    background: rgba(30, 143, 255, 0.548);
}

.auth input:focus {
    outline: none;
}

.auth button {
    border: none;
    border-radius: 0;
    font-family: Segoe UI;
    height: 40px;
    width: 100px;
    font-size: 17px;
    margin-top: 10px;
    z-index: 999;
}