html {
  background: black;
  color: white;
  font-family: Inter;
  background-size: cover;
  background-attachment: fixed
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 100,
  'GRAD' 0,
  'opsz' 48
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

button {
  background: linear-gradient(to bottom right, rgb(170, 145, 0), rgb(124, 112, 0));
  border-radius: 150px;
}

@font-face {
  font-family: roboto;
  src: url(/fonts/roboto.ttf);
}

@font-face {
  font-family: ginto;
  src: url(/fonts/ginto.otf);
}

@font-face {
  font-family: Inter;
  src: url(/fonts/inter.ttf);
}

nav {
  display: block;
  justify-content: center;
  padding: 1rem 2rem;
  background-color: rgba(10, 10, 10, 0.9);
  outline: 1px white solid;
  outline-offset: -5px;
  color: white;
  border-radius: 270px;
  font-family: Inter;
  height: 17.5px;
  width: 260px;
  justify-self: center;
  position: fixed;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%, -10%);
  z-index: 99999;
}
  
nav ul {
  list-style: none;
  margin: 0;
  position: relative;
  padding: 0;
  justify-content: center;
  display: flex;
  left: 50%;
  transform: translateX(-47%);
}
  
nav li {
  margin-right: .89rem;
  position: relative;
  font-size: 1rem;
  transition: 0.2s;
  bottom: 2px;
  display: flex;
  text-align: center;
  justify-content: center;
}
  
nav a {
  color: white;
  text-decoration: none;
  display: block;
  margin-top: -2px;
  font-family: Inter;
  transition: 0.2s;
  justify-content: center;
  text-align: center;
  scale: 1.1;
}

nav a:hover {
  transform: scale(1.105);
  border-radius: 1500px;
  cursor: pointer;
}

.github-icon {
  height: 1.6rem;
  float: right;
  transition: all 0.3s;
}

.github-icon:hover {
  scale: 125%;
}

.nobg:hover {
  background-color: transparent;
  padding: none;
}

.nobg {
  background-color: transparent;
  padding: none;
}

.logo {
  height: 300px;
  margin-right: -30px;
}

.lesspadding:hover {
  padding-right: 2px;
}

.container {
  display: flex;
  justify-content: center;
}

.home-title {
  font-family: ginto;
  font-size: 65px;
}

.rainbow-button {
  font-family: "Inter", Arial, sans-serif;
  cursor: pointer;
  background-color: #413d3d;
  border: none;
  color: rgb(248, 244, 244);
  padding: 10px 30px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 150px;
  transition: all 0.2s ease;
}
.rainbow-button:hover {
  scale: 1.1;
  transition: 0.2s;
}

.rainbow-button {
  width: 250px;
  height: 60px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 150px;
  font-family: SF Pro-Medium, Arial, sans-serif;
  font-size: 20px;
  transition: transform 0.2s ease-in-out, scale 0.2s ease-in-out, border-radius 0.2s ease;
}
.rainbow-button:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -4px;
  left: -4px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 150px;
}
.rainbow-button:active {
  color: #fc8585;
  scale: 0.9;
  border-radius: 12px;
}
.rainbow-button:active:after {
  background: transparent;
}
.rainbow-button:hover {
  transform: scale(1.05);
  border-radius: 8px;
}
.rainbow-button:hover:before {
  opacity: 1;
}
.rainbow-button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #494949;
  left: 0;
  top: 0;
  border-radius: 150px;
}
@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.card {
  border: 1px solid white;
  width: 150px;
  height: 175px;
  border-radius: 35px;
  justify-content: center;
  display: flex;
  transition: 0.4s;
  font-family: Inter;
  background-color: transparent;
  color: white;
}

.card:hover {
  transform: translate(0, -15px);
  background-color: white;
  box-shadow: 0 0 50px white;
  scale: 105%;
  color: black;
}

.noflex {
  display: block;
}

h1.cardtext {
  font-family: Inter;
  font-size: 40px;
}

button.inner {
  background-color: dodgerblue;
  border-radius: 10000px;
  height: 50px;
  width: 200px;
  font-family: Inter;
}


.game-card {
  position: relative; 
  overflow: hidden;
  margin: 10px;
  transition: 0.2s;
  font-family: Inter;
}

.game-card img {
  width: 130px;
  height: 130px;
  height: auto; 
  border-radius: 20px;
}

.game-title-overlay {
  position: absolute;
  bottom: 0; 
  left: 0; 
  right: 0; 
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px; 
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  border-bottom-left-radius: 19px;
  border-bottom-right-radius: 19px;
  max-width: 130px;
  font-family: Inter;
  margin-bottom: 4px;
}

.game-card:hover .game-title-overlay {
  opacity: 1;
  bottom: 0;
}

.game-card:hover {
  scale: 110%;
}

.game-title-overlay span {
  display: block;
  text-align: center;
  font-weight: medium;
  font-family: Inter;
}

.title {
  font-size: 55px;
  font-family: ginto;
}

.games-container {
  margin: auto;
  width: 1080px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cont {
  margin: auto;
  width: 1080px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

html {
  font-family: Inter;
}

h1 {
  font-family: Inter;
}

p {
  font-family: Inter;
}

h2 {
  font-family: Inter;
}

button {
  font-family: Inter;
}

a {
  font-family: Inter;
}

.to {
  height: 225px;
  width: 175px;
  border-radius: 25px;
  border: none;
  background: #585858;
  box-shadow: 0 0 10px #585858;
  transition: 0.2s ease-in-out;
}

.to:hover {
  scale: 105%;
  background-color: #b1b1b1;
  box-shadow: 0 0 25px white;
}

.to:before {
  background: linear-gradient(45deg, red, orange, yellow, lime, green, blue, purple, magenta);
  position: absolute;
  background-size: 400%;
  z-index: -1;
  width: calc(100%+10px);
  height: calc(100%+10px);
  opacity: 0;
  transition: opacity 0.2s;
}

.to:hover:before {
  opacity: 1;
}

.games-search {
  height: 50px;
  width: 600px;
  border-radius: 20px;
  border-width: 0px;
  background: rgba(255, 255, 255, 0.08);
  text-align: center;
  color: white;
  font-size: 17px;
  font-family: Inter;
  margin-bottom: 10px;
  transition: 0.3s;
}

.games-search:focus {
  outline: none;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 30
}

::placeholder {
  font-size: 17px;
  font-style: italic;
}

#cloack-tab {
  background-color: dodgerblue;
  border: none;
  color: white;
  font-family: Inter;
  height: 30px;
  cursor: pointer;
  transition: 0.15s;
  font-weight: 500;
  width: 125px;
  float: right;
  margin-top: -3px;
  margin-right: 15px;
  margin-top: 6.5px;
}

#cloack-tab:hover {
  scale: 109%;
}

li.right {
  text-align: right;
  justify-content: right;
  align-self: right;
}

#register input {
  height: 25px;
  width: 325px;
  padding: 10px;
  border-radius: 13px;
  border: none;
  font-family: Inter;
  transition: 0.15s;
  background-color: #ffffff1c;
  color: white;
  font-size: 17px;
}

#register input:focus {
  outline: none;
  background-color: #ffffff31;
}

#register button {
  height: 50px;
  width: 125px;
  border-radius: 7.5px;
  border: none;
  background: linear-gradient(to bottom right, #1f8076, #141c94);
  font-family: Inter;
  cursor: pointer;
  transition: 0.15s;
  font-weight: 500;
  font-size: 17px;
  color: white;
}

#register button:hover {
  filter: brightness(0.85);
}

#register h1 {
  font-size: 40px;
  font-weight: 575;
}

#register a {
  color: dodgerblue;
  text-decoration: underline;
  text-underline-offset: 2px;
  font-weight: 500;
  cursor: pointer;
}

#login input {
  height: 25px;
  width: 325px;
  padding: 10px;
  border-radius: 13px;
  border: none;
  font-family: Inter;
  transition: 0.15s;
  background-color: #ffffff1c;
  color: white;
  font-size: 17px;
}

#login input:focus {
  outline: none;
  background-color: #ffffff31;
}

#login button {
  height: 50px;
  width: 125px;
  border-radius: 7.5px;
  border: none;
  background: linear-gradient(to bottom right, #1f8076, #141c94);
  font-family: Inter;
  cursor: pointer;
  transition: 0.15s;
  font-weight: 500;
  font-size: 17px;
  color: white;
}

#login button:hover {
  filter: brightness(0.85);
}

#login h1 {
  font-size: 40px;
  font-weight: 575;
}

#login a {
  color: dodgerblue;
  text-decoration: underline;
  text-underline-offset: 2px;
  font-weight: 500;
  cursor: pointer;
}

.toast {
  visibility: hidden;
  min-width: 250px;
  background-color: rgba(255, 255, 255, 0.158);
  color: rgb(255, 255, 255);
  text-align: center;
  border-radius: 7.5px;
  font-family: Inter;
  padding: 20px;
  position: fixed;
  top: 20px;
  right: -300px;
  z-index: 1;
  font-size: 16px;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s ease;
}

.toast.show {
  visibility: visible;
  right: 10px;
  opacity: 1;
  animation: slideInRight 0.5s, slideOutRight 0.5s 5.5s; /* Slide out after 2.5 seconds */
}

@keyframes slideInRight {
  from {
    right: -500px;
    opacity: 1;
  }
  to {
    right: 10px;
    opacity: 1;
  }
}

@keyframes slideOutRight {
  from {
    right: 10px;
    opacity: 1;
  }
  to {
    right: -500px;
    opacity: 1;
  }
}

p.invis {
  display: none;
}

.uv {
  color: white;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  font-weight: 500;
  transition: 0.2s;
}

.uv a:hover {
  text-decoration: underline;
}

#urlInput {
  background-color: #ffffff1c;
  color: white;
  font-family: Inter;
  border-radius: 20px;
  border: none;
  padding: 10px;
  transition: 0.3s;
  outline: none;
  height: 40px;
  width: 600px;
  text-align: center;
  font-size: 17px;
}

#searchButton {
  background: linear-gradient(to bottom right, #1d7c73, #0f1786);
  border-radius: 17px;
  border: none;
  height: 48px;
  width: 48px;
  color: white;
  text-align: center;
  align-items: center;
  margin-left: -59.5px;
  transition: .3s;
}

#searchButton i {
  font-size: 17px;
  text-align: center;
  padding-left: 8px;
  transition: .4s;
  margin-top: -2px;
}

#searchButton:hover {
  width: 125px;
  margin-left: -135px;
  cursor: pointer;
}

#searchButton:hover i {
  padding-right: 70px;
}

#searchButton p {
  opacity: 0;
  font-family: Inter;
  font-size: 17px;
  font-weight: 500;
  margin-top: 0px;
  margin-right: -25px;
  margin-top: -3px;
  position: fixed;
}

#searchButton:hover p {
  opacity: 1;
}

#searchButton:active {
  scale: 0.9;
}

.cloakButton {
  height: 50px;
  padding: 15px;
  border: none;
  color: white;
  font-size: 17px;
  transition: .2s;
}

.settings-card {
  background-color: #ffffff11;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  height: 175px;
  text-align: center;
  margin: 10px;
}

.settings-card h1 {
  margin-top: 5px;
}

.settings-card input[type="text"] {
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 150px;
  height: 25px;
  transition: .2s;
  background-color: #ffffff21;
  font-family: Inter;
  font-size: 15px;
  text-align: center;
  color: white;
  caret-shape: underscore;
}

.settings-card input[type="text"]:focus {
  outline: none;
  caret-shape: underscore;
}

#theme-selector {
  height: 45px;
  width: 225px;
  text-align: center;
  border-radius: 150px;
  background-color: #ffffff1f;
  border: none;
  color: white;
  font-family: Inter;
  font-size: 15px;
}

#theme-selector option {
  background: rgb(32, 32, 32);
}

#premadecloaks {
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 150px;
  height: 50px;
  transition: .2s;
  background-color: #474747;
  font-family: Inter;
  font-size: 15px;
  text-align: center;
  color: white;
  caret-shape: underscore;
  margin-bottom: 0;
}

.settings-card button {
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: .2s;
}

.settings-card button:hover {
  filter: brightness(0.85);
}

.release-card {
  background-color: #3d3d3d;
  height: 250px;
  width: 300px;
  border-radius: 35px;
  padding: 10px;
  margin: 7px;
  position: relative;
}

.release-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.release-card h1 {
  font-size: 40px;
  margin-top: 0px;
}

.release-card p {
  font-size: 17px;
  line-height: 35px;
  margin-top: -15px;
  transform: trans;
}

.release-card button {
  background-color: dodgerblue;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 150px;
  cursor: pointer;
  font-size: 16px;
  transition: .2s;
  text-align: center;
}

.release-card button:hover {
  scale: 1.2;
}

.seemore {
  color: dodgerblue;
  font-weight: 500;
  font-size: 17px;
  transition: .2s;
  text-decoration: underline;
  text-underline-offset: 3px;
  background: linear-gradient(180deg, transparent, #3d3d3d);
  z-index: 999;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  opacity: 0;
  transition: opacity 0.3s ease;
}

#overlay.visible {
  display: block;
  opacity: 1;
}

#mc-download {
  display: none;
  width: 400px;
  height: 500px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  transform-origin: center;
  opacity: 0;
  color: black;
  text-align: center;
}

@keyframes scaleIn {
  0% {
      transform: scale(0.5) translate(-50%, -50%);
      opacity: 0;
  }
  100% {
      transform: scale(1) translate(-50%, -50%);
      opacity: 1;
  }
}

@keyframes scaleOut {
  0% {
      transform: scale(1) translate(-50%, -50%);
      opacity: 1;
  }
  100% {
      transform: scale(0.5) translate(-50%, -50%);
      opacity: 0;
  }
}

#mc-download.scale-in {
  animation: scaleIn 0.3s ease forwards;
}

#mc-download.scale-out {
  animation: scaleOut 0.3s ease forwards;
}

#mc-download h1 {
  font-family: roboto;
  font-weight: 600;
}

#mc-download a {
  text-decoration: none;
  color: white;
}

#cc-download {
  display: none;
  width: 400px;
  height: 500px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  transform-origin: center;
  opacity: 0;
  color: black;
  text-align: center;
}

@keyframes scaleIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@keyframes scaleOut {
  0% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}

#cc-download.scale-in {
  animation: scaleIn 0.3s ease forwards;
}

#cc-download.scale-out {
  animation: scaleOut 0.3s ease forwards;
}

#cc-download h1 {
  font-family: roboto;
  font-weight: 600;
}

#cc-download a {
  text-decoration: none;
  color: white;
}

#cc-download p {
  font-family: roboto;
  font-weight: 600;
  color: dodgerblue;
  margin-top: -15px;
  transition: 0.2s;
  width: 65px;
  padding: 10px;
}

#cc-download p:hover {
  background-color: rgba(30, 143, 255, 0.2);
  cursor: pointer;
  border-radius: 6px;
  scale: 110%;
}

#mc-download p {
  font-family: roboto;
  font-weight: 600;
  color: dodgerblue;
  margin-top: -15px;
  transition: 0.2s;
  width: 65px;
  padding: 10px;
}

#mc-download p:hover {
  background-color: rgba(30, 143, 255, 0.2);
  cursor: pointer;
  border-radius: 6px;
  scale: 110%;
}

.vcent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#invite-code {
  background-color: #363636;
  color: white;
  font-family: Inter;
  border-radius: 20px;
  border: none;
  padding: 10px;
  transition: 0.3s;
  outline: none;
  height: 40px;
  width: 600px;
  text-align: center;
  font-size: 17px;
}

#invite-code:focus {
  width: 675px;
  background-color: #3d3d3d;
}

.announcements {
  background-color: rgba(0, 0, 0, 0.212);
  border: 2px solid white;
  padding: 15px;
  border-style: none;
  top: 10px;
  position: relative;
  height: fit-content;
  width: 400px;
  border-radius: 30px;
  transition: 0.3s;
}

.announcements::after {
  content: "";
  position: absolute;
  inset: -.625em;
  background: linear-gradient(to bottom right,
          rgb(4, 67, 129), rgb(77, 0, 77));
  filter: blur(1.5em);
  z-index: -1;
  transition: 0.5s;
}

.announcements p {
  font-family: inter;
  font-weight: 500;
  font-size: 17px;
  line-height: 30px;
}

.announcements i {
  margin-top: 15px;
}

.announcements h1 {
  margin-top: 15px;
}

.username.owner {
  background: linear-gradient(to bottom right, rgb(255, 233, 109), rgb(192, 138, 0));
  padding: 2px 6px;
  border-radius: 6px;
  display: inline-flex;
  align-items: center;
  gap: 4px;
  font-weight: bold;
}
.username.owner .material-symbols-rounded {
  color: white;
  font-size: 20px;
  scale: 1.2;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -2;
  opacity: 30%;
  background-color: none;
  background: none;
}

.blob {
	box-shadow: 0 0 150px 100px rgb(251, 255, 0);
	border-radius: 50%;
	height: 290px;
	width: 290px;
	background-image: radial-gradient(
		farthest-corner at 50% 50%,
		#ffffff,
		rgb(251, 255, 0)
	);
	background-blend-mode: multiply;
	filter: blur(50px) contrast(1.1);
	position: fixed;
	transform: translate(-50%, -50%);
	left: 47vw;
	top: 100vh;
	position: fixed;
}

.blobbig {
	box-shadow: 0 0 150px 100px rgb(249, 255, 171);
	border-radius: 100%;
	height: 45vh;
	width: 75vw;
	opacity: 0.15;
	background-image: radial-gradient(
		farthest-corner at 50% 50%,
		#ffffff,
		rgb(255, 251, 0)
	);
	background-blend-mode: multiply;
	filter: blur(50px) contrast(1.1);
	position: fixed;
	transform: translate(-50%, -35%);
	left: 47vw;
	top: 100vh;
	position: fixed;
}

.blobsmall {
	box-shadow: 0 0 150px 50px rgb(245, 255, 102);
	border-radius: 50%;
	height: 50px;
	width: 340px;
	background-image: radial-gradient(
		farthest-corner at 50% 50%,
		#ffffff,
		rgb(238, 255, 0)
	);
	background-blend-mode: multiply;
	filter: blur(50px) contrast(1.2);
	position: fixed;
	transform: translate(-50%, -50%);
	left: 60vw;
	top: 100vh;
	position: fixed;
}

.blobtop {
	box-shadow: 0 0 1px 20px rgb(200, 255, 0);
	border-radius: 50%;
	height: 230px;
	width: 20px;
	background: radial-gradient(
		farthest-corner at 50% 50%,
		#ffffff,
		rgb(251, 255, 0)
	);
	background-blend-mode: multiply;
	filter: blur(50px) contrast(1.1);
	position: fixed;
	transform: translate(-50%, -50%);
	rotate: -20deg;
	left: 41.6vw;
	top: calc(89vh - 200px);
	position: fixed;
    z-index: -1;
}

input#searchinject {
  width: 450px;
  height: 50px;
  border-radius: 20px;
  color: white;
  font-size: 1.25rem;
  font-family: Inter;
  border: none;
  background: rgba(255, 255, 255, 0.2);
  text-align: center;
  transition: 0.3s;
}

input#searchinject:focus {
  outline: none;
  border: none;
  background-color: rgba(255, 255, 255, 0.3);
  width: 500px;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.815);
  font-style: italic;
  font-size: 1.25rem;
}

.homepagebtn {
  width: 65px;
  height: 65px;
  border-radius: 35%;
  background: linear-gradient(to bottom right, rgba(223, 219, 0, 0.671), rgba(227, 255, 71, 0.651));
  border: none;
  margin: 7.5px;
  transition: 0.2s;
}

.homepagebtn:hover {
  filter: brightness(0.8);
  cursor: pointer;
}

#updToast {
  position: fixed;
  top: 15px;
  right: -40%;
  height: 80px;
  width: 220px;
  background-color: rgba(255, 255, 255, 1);
  padding: 15px;
  border-radius: 25px;
  color: black;
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  transition: 0.3s;
}

#premadecloaks option {
  background: rgb(32, 32, 32);
}

#premadecloaks:focus {
  outline: none;
}

button:focus {
  outline: none;
}

#theme-selector:focus {
  outline: none;
}

#updToast button {
  height: 35px;
  width: 100px;
  border-radius: 100px;
  color: white;
  background: rgb(207, 159, 0);
  border: none;
  font-size: 16px;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  transition: 0.2s;
}

#updToast button:hover {
  scale: 1.05;
  cursor: pointer;
}