nav {
  display: block;
  justify-content: center;
  padding: 1rem 2rem;
  background-color: rgba(10, 10, 10, 0.9);
  outline: 1px white solid;
  outline-offset: -5px;
  color: white;
  border-radius: 270px;
  font-family: Inter;
  height: 17.5px;
  width: 260px;
  justify-self: center;
  position: fixed;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%, -10%);
  z-index: 99999;
}
  
nav ul {
  list-style: none;
  margin: 0;
  position: relative;
  padding: 0;
  justify-content: center;
  display: flex;
  left: 50%;
  transform: translateX(-47%);
}
  
nav li {
  margin-right: .89rem;
  position: relative;
  font-size: 1rem;
  transition: 0.2s;
  bottom: 16px;
  display: flex;
  text-align: center;
  justify-content: center;
}
  
nav a {
  color: white;
  text-decoration: none;
  display: block;
  margin-top: -2px;
  font-family: Inter;
  margin-right: -5px;
  margin-left: -5px;
  transition: 0.2s;
  justify-content: center;
  text-align: center;
  scale: 1.1;
}

nav a:hover {
  transform: scale(1.105);
  border-radius: 1500px;
  cursor: pointer;
}